@page
@model los.Pages.AdminEditGenreModel

<style>
  table, td, th {
    border: 1px solid black;
    padding: 4px;
  }

  label {
    padding: 4px;
  }

  input {
    padding: 2px;
  }

  .crud-form {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<div class="crud-form">
  <h2>Edit genre #@Model.InputID</h2>
  <form method="post">
    <input type="hidden" asp-for="InputID">
    <label>Title:<input type="text" asp-for="InputTitle"></label>
    <input type="submit" value="save">
  </form>
</div>