@page
@model IndexModel
@{
    ViewData["Title"] = "LOS — Home";
}

<div class="text-center">
    <h1 class="display-4">Library Ordering System</h1>
    <p><a href="/UserOrders">User Interface</a></p>
    <p><a href="/AdminAuthors">Admin: authors</a></p>
    <p><a href="/AdminGenres">Admin: genres</a></p>
    <p><a href="/AdminBooks">Admin: books</a></p>
    <p><a href="/AdminOrders">Admin: orders</a></p>
</div>